*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100vh;
    font-family: sans-serif;
}
h1.booklist-header{
    text-align:center;
    margin:0px;
    padding:0px;
}
.book-table{
    max-height:300px;
    overflow-y:hidden;
}
@media (max-width:500px){
    h1.booklist-header{
        font-size: 20px;
    }
}